
<div class= container >


   <% @offers.each do |offer| %>

   <%= link_to offer_path(offer), class: "text-decoration-none color-link-none" do %>
      <div class="card-trip mt-4 rounded">

            <% if offer.level == "bronce" %>
               <img src="<%= offer.url %>" style="border-bottom-color: #B88B5E" />
            <% elsif offer.level == "silver" %>
               <img src="<%= offer.url %>" style="border-bottom-color: #A3A7A7" />
            <% else  %>
                <img src="<%= offer.url %>" style="border-bottom-color: #EDCF80" />
            <% end %>




        <div class="card-trip-infos d-flex align-items-end">

          <div>
            <h2 class="mb-1"><%= offer.branch_office.partner.name.capitalize %></h2>
            <p"><%= offer.voucher.to_i %>% de descuento.</p>
          </div>

          <div>
            <% offer_lat = offer.branch_office.latitude %>
            <% offer_lon = offer.branch_office.longitude %>
            <% user_lat = current_user.latitude %>
            <% user_lon = current_user.longitude %>
            <% distance = Geocoder::Calculations.distance_between([offer_lat, offer_lon], [user_lat, user_lon], units: :km) %>
            <p><%= distance.round(1) %> km</p>
          

            <% if offer.level == "bronce" %>
                <div class="offer-cat" style="background-color: #B88B5E">
                  <i class="<%= OFFER_ICONS[offer.category.downcase.to_sym] %>"></i>
                </div>
            <% elsif offer.level == "silver" %>
                <div class="offer-cat" style="background-color:  #A3A7A7">
                  <i class="<%= OFFER_ICONS[offer.category.downcase.to_sym] %>"></i>
                </div>
            <% else  %>
                <div class="offer-cat" style="background-color:  #EDCF80">
                  <i class="<%= OFFER_ICONS[offer.category.downcase.to_sym] %>"></i>
                </div>

            <% end %>


          </div>

        </div>
      </div>
    <% end %>
  <% end %>
</div>



<%= link_to 'New Offer', new_offer_path %>

