





  <div class=" justify-content-between">

    <div class="card-trip d-flex align-items-center col-xs-12">
      <br>

        <% if @offer.level == "bronce" %>
          <img class="d-block w-100" src="<%= @offer.url %>" style=" height: 250px; border-bottom-color: #B88B5E;" >
        <% elsif @offer.level == "silver" %>
          <img class="d-block w-100" src="<%= @offer.url %>" style=" height: 250px; border-bottom-color: #A3A7A7;" >

        <% else  %>
          <img class="d-block w-100" src="<%= @offer.url %>" style=" height: 250px; border-bottom-color: #EDCF80;" >

        <% end %>

    </div>
    <div class="container">
      <div class= "m-3 d-flex">
        <div>
          <h1>
            <%= @offer.branch_office.partner.name.capitalize %>
          </h1>
          <p class="voucher" style="color:#ACCACA">
            <%= @offer.voucher.to_i %> % de descuento.
            <%= @distance %> km
          </p>

          <p>
            Con BBVouchers podrás salir a cenar más que nunca.
          </p>
          <p>
            Te devolvemos el <%= @offer.voucher.to_i %>% sólo por pagar con las tarjetas de BBVA.
          </p>
          <p>
            Sin límites, consume todo lo que quieras.
          </p>
        </div>
        <div>
        <% if @offer.level == "bronce" %>
            <div class="offer-show" style="background-color: #B88B5E">
              <i class="<%= OFFER_ICONS[@offer.category.downcase.to_sym] %>"></i>
            </div>
        <% elsif @offer.level == "silver" %>
            <div class="offer-show" style="background-color:  #A3A7A7">
              <i class="<%= OFFER_ICONS[@offer.category.downcase.to_sym] %>"></i>
            </div>
        <% else  %>
            <div class="offer-show" style="background-color:  #EDCF80">
              <i class="<%= OFFER_ICONS[@offer.category.downcase.to_sym] %>"></i>
            </div>

        <% end %>

      </div>
        <div>

          <% if @offer.level == "bronce" %>
            <p style="color: #B88B5E">
              <%= @offer.level.capitalize %>
            </p>
          <% elsif @offer.level == "silver" %>
            <p style="color: #A3A7A7">
              <%= @offer.level.capitalize %>
            </p>
          <% else  %>
            <p style="color: #EDCF80">
              <%= @offer.level.capitalize %>
            </p>
          <% end %>


        </div>
      </div>
    </div>
      <div class="container">
        <div class="container mt-4 mb-4 text-left">
          <div class="card shadow-lg p-1 bg-white" style="border-radius: 15px;" >
            <div class="card-body">
              <div>
                <div class="mb-0" >
                    <p class="mb-0">¿Cómo funciona?</p>
                    <p class="mb-0 text-black-50"> Tan solo tendras que efectuar el pago con alguna tarjeta de BBVA.</p>
                    <p class="mb-0">¿Ventajas?</p>
                    <p class="mb-0 text-black-50"> Se te devolverá el <%= @offer.voucher.to_i %> % de tu cuenta el siguiente día hábil.</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

        <% @offer.users_to_offers.each do |current_offer| %>
          <% if (current_offer.user == current_user) && (current_offer.code_used == false) %>
            <div class="container text-center">
              <%= simple_form_for current_offer, class: "background-none p-0", url: users_to_offer_path(current_offer), method: :patch do |f| %>
                <%= f.input :code_used, :as => :hidden, :input_html => { :value => :true }, remote: true %>
                <%= f.submit "Obtener Voucher", class: "btn btn-bbva-primary"%>
              <% end %>
            </div>
          <% else %>

            <div class="container text-center">
              <button type="button" class="btn btn-bbva-primary" data-toggle="modal" data-target="#exampleModal">
                Obtener código
              </button>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-center mb-5">
                    <%= @svg.html_safe %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>


<% if current_user %>
  <div class="container text-center mt-4">
    <div class="row justify-content-between" data-controller="offer">
      <div id="map"
          style="width: 100vw; height: 30vh;"
          data-target="offer.map"
          data-office="<%= @office.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <p>
        <%= @office[0][:address]%>
      </p>
    </div>
  </div>
<% end %>



<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
