




<div class="container">
  <div class="row justify-content-between">

    <div class="d-flex align-items-center mt-4 col-xs-12">
      <br>
      <img class="d-block w-100" src="https://res.cloudinary.com/rafaruigomez/image/upload/v1602896919/nrd-D6Tu_L3chLE-unsplash_vuxmqj.jpg" style="border-radius: 15px; height: 250px;" >
    </div>
    <div class="container">
      <div class= "m-3 d-flex">
        <div>
          <h1>
            <%= @offer.partner.name.capitalize %>
          </h1>
          <p class="voucher" style="color:#ACCACA">
            <%= @offer.voucher.to_i %> % de descuento.
          </p>

          <p>
            Con BBVouchers podrás salir a cenar más que nunca.
          </p>
          <p>
            Te devolvemos el <%= @offer.voucher.to_i %>% sólo por pagar con las tarjetas de BBVA.
          </p>
          <p>
            Sin límites, consume todo lo que quieras.
          </p>
        </div>
        <div>

          <% if @offer.level == "bronce" %>
            <p style="color: #B88B5E">
              <%= @offer.level.capitalize %>
            </p>
          <% elsif @offer.level == "silver" %>
            <p style="color: #A3A7A7">
              <%= @offer.level.capitalize %>
            </p>
          <% else  %>
            <p style="color: #EDCF80">
              <%= @offer.level.capitalize %>
            </p>
          <% end %>


        </div>
      </div>
    </div>
      <div class="container">
        <div class="container mt-4 mb-4 text-left">
          <div class="card shadow-lg p-1 bg-white" style="border-radius: 15px;" >
            <div class="card-body">
              <div>
                <div class="mb-0" >
                    <p class="mb-0">¿Cómo funciona?</p>
                    <p class="mb-0 text-black-50"> Tan solo tendras que efectuar el pago con alguna tarjeta de BBVA.</p>
                    <p class="mb-0">¿Ventajas?</p>
                    <p class="mb-0 text-black-50"> Se te devolverá el <%= @offer.voucher.to_i %> % de tu cuenta el siguiente día hábil.</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="container text-center">
        <button type="button" class="btn btn-bbva-primary">Obtener codigo</button>
      </div>
  </div>
</div>













  <!-- </div class="container ">
    <div class="row justify-content-between">
      <div class="col-xs-12 col-lg-8">
          <div class="product-box shadow">

          </div>
        </div>
      </div>
  </div>


  <div class="container">
  <div class="row justify-content-center">
    <div>

          <div class="col-12 my-4">
              <div class="d-flex" style="border-radius: 15px;">
                <img class="d-block w-100" src="https://res.cloudinary.com/rafaruigomez/image/upload/v1602896919/nrd-D6Tu_L3chLE-unsplash_vuxmqj.jpg" >

                <div class="d-flex">
                  <div class="card-body">
                      <h4 class="mb-2"> <%= @offer.partner.name.capitalize %></h4>
                      <div class="d-flex align-items-end">
                        <h5 class="mb-0 mr-2 "><%= @offer.voucher  %></h5>
                      </div>
                      <p class="text-muted mb-0 p-description mt-2 max-length"> <%= @offer.description.capitalize %></p>
                  </div>
                  <div class="text-right mr-3 mt-4" style="width: 100px; float: left">

                    <span class="color-green text-right mb-0 p-description mt-2 max-length"> <%= @offer.category %> Offers</span>
                  </div>
                </div>
              </div>
              </div>

          </div>

    </div>
  </div>
</div> -->



<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
