<!DOCTYPE html>
<html>
  <head>
    <title>Wagoners</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="background-mobile d-none d-sm-block">
      <div class="d-flex align-items-center justify-content-center align-content-center">
        <img class="iphone" src="https://res.cloudinary.com/rafxss/image/upload/v1602901980/iphone_test_mp8fs9.png" style="height: 70vh;">
        <div class="p-5 text-center">
          <h1>¡Bienvenidos a BBVouchers!</h1>
          <p>BBVouchers esta actualmente optimizado solo para dispositivos móviles. Si quieres acceder al sitio no dudes en acceder escaneando el siguiente código QR.</p>
          <img src="https://res.cloudinary.com/rafxss/image/upload/v1602902604/qr-code_1_bh9fd9.svg" style="height: 20vh;">
        </div>
      </div>
    </div>

      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>

      <%= yield %>
  </body>
</html>
